@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-gradient {
  background: linear-gradient(to top, rgb(19, 65, 156) 0%, rgb(112, 155, 241) 100%, rgb(104, 148, 236) 100%, rgb(150, 180, 238) 100%);

  width: 100%;
}
.custom-gradient2 {
  background: linear-gradient(to bottom, rgb(129, 155, 209) 0%, rgb(112, 155, 241) 100%, rgb(106, 144, 220) 100%, rgb(150, 180, 238) 100%);
}

.custom-gradient3 {
  background: linear-gradient(to bottom, rgb(19, 65, 156) 0%, rgb(112, 155, 241) 100%, rgb(104, 148, 236) 100%, rgb(150, 180, 238) 100%);

  width: 100%;
}